<%= form_for @primero, html: {class: "form-horizontal"}  do |f| %>
  <% if @primero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primero.errors.count, "error") %> prohibited this primero from being saved:</h2>

      <ul>
      <% @primero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-lg-12">
          <section class="panel">
              <header class="panel-heading">
                 Analizador
              </header>
              <div class="panel-body">
                    <% if !notice.nil?%>
                      <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><%= notice %></strong>
                      </div>
                    <% end %>
                   
                    <!-- form_tag({controller: "people", action: "search"}, method: "get", class: "nifty_form") -->
                      <div class="form-group">
                        <label class="col-sm-2 control-label"><%= f.label :archivo %></label>
                        <div class="col-sm-10">
                            <%= f.file_field :archivo %>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </section>
      </div>
  </div>
<%if !@leaves.nil?%>
<div class="row">
      <div class="col-lg-12">
          <section class="panel">
              <header class="panel-heading">
                 Resultados del Analisis
              </header>
              <div class="panel-body">
                <% @leaves.each do |leave| %>
                  <% leave.select { |key, value| @ky = key; @val = value } %>
                  <%if $elementsOfController.include?(@ky.to_s) %>
                    <blockquote>
                      <p><%= @val[0] %>.&nbsp;&nbsp;&nbsp;<%= @rows[(@val[0].to_i - 1)] %></p>
                      <footer>En esta linea hay un operacion que corresponde a un <b>CONTROLADOR</b></footer>
                    </blockquote>
                  <% elsif $elementsOfModel.include?(@ky.to_s) %>
                    <blockquote>
                      <p><%= @val[0] %>.&nbsp;&nbsp;&nbsp;<%= @rows[(@val[0].to_i - 1)] %></p>
                      <footer>En esta linea hay un operacion que corresponde a un <b>MODELO</b></footer>
                    </blockquote>
                  <% end %>
                <% end %>
              </div>
          </section
>      </div>
  </div>
<%end%>
<% end %>