<p id="notice"><%= notice %></p>

<h1>Listing Primeros</h1>

<table>
  <thead>
    <tr>
      <th>Cadena</th>
      <th>Resultado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primeros.each do |primero| %>
      <tr>
        <td><%= primero.cadena %></td>
        <td><%= primero.resultado %></td>
        <td><%= link_to 'Show', primero %></td>
        <td><%= link_to 'Edit', edit_primero_path(primero) %></td>
        <td><%= link_to 'Destroy', primero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primero', new_primero_path %>
