<p id="notice"><%= notice %></p>

<p>
  <strong>Cadena:</strong>
  <%= @primero.cadena %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @primero.resultado %>
</p>

<%= link_to 'Edit', edit_primero_path(@primero) %> |
<%= link_to 'Back', primeros_path %>
